numpy
opencv-python
trimesh
scikit-learn
open3d
seaborn
segment-anything @ git+https://github.com/facebookresearch/segment-anything.git
groundingdino @ git+https://github.com/FANG-Xiaolin/GroundingDINO
